In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#read in
pd_data = pd.read_csv('weatherAUS.csv')
pd_data.shape

(142193, 24)

In [49]:
#drop NAN
pd_data=pd_data.dropna(how='any')
print(pd_data.shape)

(56420, 24)

In [51]:
#drop something column
drop_columns_list = ['WindGustDir', 'WindDir9am', 'WindDir3pm','Date','Location','RISK_MM']
pd_data = pd_data.drop(drop_columns_list, axis=1)
print(pd_data.shape)
pd_data.head()

(56420, 18)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
5939,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
5940,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
5942,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
5943,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
5944,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No

In [53]:
#change yes/no to 1/0
pd_data['RainToday'].replace({'No':0,'Yes':1},inplace=True)
pd_data['RainTomorrow'].replace({'No':0,'Yes':1},inplace=True)
pd_data.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
5939,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0
5940,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0
5942,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0
5943,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0
5944,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0

In [57]:
#Task: Split the data into train and test
train_y = pd_data['RainTomorrow'].head(55000)
test_y= pd_data['RainTomorrow'].tail(1420)
train_x = pd_data.head(55000).drop(['RainTomorrow'], axis=1)
test_x= pd_data.tail(1420).drop(['RainTomorrow'], axis=1)
print(train_y.head())
print(train_x.head())

5939    0
5940    0
5942    0
5943    0
5944    0
Name: RainTomorrow, dtype: int64
      MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
5939     17.9     35.2       0.0         12.0      12.3           48.0
5940     18.4     28.9       0.0         14.8      13.0           37.0
5942     19.4     37.6       0.0         10.8      10.6           46.0
5943     21.9     38.4       0.0         11.4      12.2           31.0
5944     24.2     41.0       0.0         11.2       8.4           35.0

      WindSpeed9am  WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  \
5939           6.0          20.0         20.0         13.0       1006.3
5940          19.0          19.0         30.0          8.0       1012.9
5942          30.0          15.0         42.0         22.0       1012.3
5943           6.0           6.0         37.0         22.0       1012.7
5944          17.0          13.0         19.0         15.0       1010.7

      Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday
5939       1004.4       2.0       5.0     26.6     33.4          0
5940       1012.1       1.0       1.0     20.3     27.0          0
5942       1009.2       1.0       6.0     28.7     34.9          0
5943       1009.1       1.0       5.0     29.1     35.6          0
5944       1007.4       1.0       6.0     33.6     37.6          0